.profpic{
  height: 300px!important;
  width: 300px!important;
}

.img-thumbnail{
  background-color: transparent!important;
  border:none!important;
  border-radius: 2%!important;
}
.img-thumbnail2{
  background-color: transparent!important;
  border:none!important;
  border-radius: 2%!important;
  width: 400px;
  height: 200px;
  padding-top: 10px;
}

.page{
  background-color: white;
  padding-bottom: 100px;
}

.jumbotron{
  background-color:#6c757d!important;
  text-align: center;
  margin-bottom: 0px!important;
  color: white;
}

.about{
  line-height: 2;
}

.navbar {
  background-color: #b7b7a4;
}
 .nav-link{
   color:white;
 }

 .nav-link:hover {
  color: darkgray;
}

.link-text{
  color:black;
}

.link-text:hover {
  color: darkgray;
}

.card{
  height: 400px;
  width: 500px;
  padding-left: 30px;
  padding-top: 20px;
  margin-bottom: 20px;
  margin-right: 30px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.two{
  height: 100px;
  width: 900px;
  padding-left: 30px;
  padding-top: 20px;
  margin-top: 100px;
  margin-bottom: 10px;
  margin-right: 30px;
  margin-left: 30px;
  text-align: center;
  font-size: 30px;
  font-weight: lighter;
}

.app {
  border-radius: 4px;
  background-color: lightgray!important;
  border-color: lightgray!important;
  border: none;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 150px!important;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.fab, .fas{
  padding: 20px;
  font-size: 30px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  border-radius: 10%;
}

.fab:hover {
  opacity: 0.7;
  color:white;
}

.fas:hover {
  opacity: 0.7;
  color:white;
}

.fa-linkedin {
  background: #747372;
  color: white;
}

.fa-github {
  background: #747372;
  color: white;
}

.fa-phone {
  background: #747372;
  color: white;
}

.fa-file {
  background: #747372;
  color: white;
}

.contact{
  font-size: 18px;
}

